
# Visual Studio Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# Project specific files
/project/versions/*
/src/MwcTurbocharger/.idea
/src/MwcTurbocharger/.vs
/src/.idea
/src/.vs
*.log